.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  position:relative;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  left: 240px;
  top: 10px;
  position: absolute;
}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  position:absolute;
  left: 500px;
  top: 10px;
}
