.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  text-transform: uppercase;
  color: blue;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-color: green;
  position:relative;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  text-transform: uppercase;           
  color: blue;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-color: red;
  left: 240px;
  top: 10px;
  position: absolute;
}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  text-transform: uppercase;           
  color: blue;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
  position:absolute;
  left: 500px;
  top: 10px;
}
